html, body
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,main {
        display:block;
}

body { font-family: sans-serif; line-height: 150%; }

h1,h2,h3,p,table,dl { margin: 10px; }


header[role="banner"]{
  margin: 0;
  padding: 1em 0em 1em 0em;
  background-color: rgb(0, 0, 128);
  width: 100%;
}

header[role="banner"] h1{
  margin: 0;
  padding: 0;
  text-align: center;
}

header[role="banner"] h1 a {
  color: white;
  text-decoration: none;
}


h2 {
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  border-color: rgb(0, 0, 128);
  padding: 4px 4px 4px 4px;
}

h3 {
  border-width: 0px 0px 2px 2px;
  border-style: solid;
  border-color: rgb(0, 0, 128);
  padding: 2px 2px 2px 2px;
}

dt {
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  border-color: rgb(0, 0, 128);
  padding: 2px 2px 2px 2px;
}

#contents {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
}

main {
  width: 800px;
  max-width: 100%;
  padding-left: 5%;
}

footer {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: rgb(128, 128, 128);
  padding-top: 10px;
  margin-top: 20px;
  text-align: center;
}



nav {
  flex-basis: max-content;
  font-weight: bold;
  font-size: 120%;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin: 0;
  text-align: center;
  padding: 1em 0.2em 1em 0.2em;
  white-space: nowrap;
}

nav ul a { color: rgb(0, 0, 128); text-decoration: none;  }

nav ul li:hover {
  background: rgb(0, 0, 128);
}

nav ul li:hover > a {
  color: white;
}

h1 {
  color: rgb(0, 0, 128);
}

#news {
  width: 100%;
}

.date {
  color: rgb(91, 91, 91);
}

dt {
  font-size: 120%;
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

