<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="icon" sizes="any" href="./favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
</head>
<body>
  <header role="banner">
    <h1><a href="./index.html">LA Symposium 2022</a></h1>
  </header>
  <div id="contents">
    <nav role="navigation">
      <ul role="menubar">
        <li role="menuitem"><a href="./index.html">トップページ</a></li>
        <li role="menuitem"><a href="./summer.html">夏のLA</a></li>
        <li role="menuitem"><a href="./winter.html">冬のLA</a></li>
        <li role="menuitem"><a href="./letters.html">事務局報</a></li>
        <li role="menuitem"><a href="./members.html">年会費/会員情報</a></li>
        <li role="menuitem"><a href="./links.html">リンク</a></li>
      </ul>
    </nav>
    <main>
{{ content }}
    </main>
  </div>
  <footer>
    <small>
      Copyright &copy; 2022 Tokyo Institute of Technology  (LA2022 Office)  All rights reserved. 
    </small>
  </footer>
</body>
</html>
